<section class="about_section layout_padding2-top layout_padding-bottom">
    <div class="design-box">
        <img src="~/images/design-2.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            About SDR Shop
                        </h2>
                    </div>
                    <p>
                        Işıltının Adresi: SDR Mücevherleri6789
                        SDR Mücevherleri, eşsiz tasarımları ve zarafetiyle göz kamaştıran bir mücevherat deneyimi sunuyor. İnce işçiliği, kaliteli taşları ve özgün tasarımlarıyla her parça, benzersiz bir öyküyü anlatıyor.
                        Mücevher dünyasının önde gelen markalarının ve yerel tasarımcıların eserlerini bir araya getiren SDR Mücevherleri, her zevke ve her tarza hitap ediyor. Sade ve modern çizgilerden, klasik ve zarif detaylara kadar geniş bir ürün yelpazesiyle müşterilerimize sonsuz seçenekler sunuyoruz.
                        SDR Mücevherleri sadece bir alışveriş noktası değil, aynı zamanda müşterilerimizin özel anlarında yanlarında olan bir dosttur. Sevgililer günü, nişan, düğün gibi unutulmaz anlarınıza eşlik edecek parçaları bulmanıza yardımcı olmak için uzman ekibimiz her zaman hizmetinizde
                        Mağazamızda sunduğumuz ürünlerin kalitesi ve güvenilirliği konusunda tam bir şeffaflık sağlıyoruz. Her bir mücevher, en yüksek kalite standartlarına uygun olarak seçilen malzemelerle özenle işlenmiştir.
                        Siz de SDR Mücevherleri'nde, ömür boyu taşıyacağınız anlamlı ve değerli bir parça bulmak için bizi ziyaret edin. Işıltılı dünyamızda sizleri ağırlamaktan mutluluk duyacağız.
                    </p>

                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img src="~/images/vanCleef.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

