@model BuyNow
<body class="sub_page">


    <section class="contact_section layout_padding">
        <div class="design-box">
            <img src="~/images/design-2.png" alt="">
        </div>
        <div class="container ">
            <div class="">
                <h2 class="">
                  Buy Now
                </h2>
            </div>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <form asp-action="SaveContact">
                        <div>
                            <input type="text" asp-for="name" placeholder="Name" />
                        </div>
                        <div>
                            <input type="email" asp-for="Email" placeholder="Email" />
                        </div>
                        <div>
                            <input type="text" asp-for="Iban" placeholder="IBAN" />
                        </div>
                      
                        <div class="d-flex ">
                            <button>
                                SEND
                            </button>
                        </div>
                    </form>
                </div>
               
            </div>
        </div>
    </section>

 
    <section class="container-fluid footer_section">
        <p>
            &copy; <span id="displayYear"></span> All Rights Reserved By
            <a href="https://html.design/">SEDRA OSMAN</a>
        </p>
    </section>
  
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
</body>

</html>



