@model List<sedra_0sman.Models.ContactU>

    <section class=" slider_section position-relative">
      <div class="design-box">
        <img src="~/images/design-1.png" alt="">
      </div>
      <div class="slider_number-container d-none d-md-block">
      
      </div>
      <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail_box">
                    <h2>
                      <span> New Collection</span>
                      <hr>
                    </h2>
                    <h1>
                    SDR
                    </h1>
                    <p>
                      yeni koleksiyonumuzla ile stilinize parıltı katın.
                       Sizi, benzersiz görkem ve zarafetle tanıştırmak için sabırsızlanıyoruz!

                    </p>
                    <div>
                      <a href="">Shop Now</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                                <img src="~/images/vanCleef.png" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail_box">
                    <h2>
                      <span> New Collection</span>
                      <hr>
                    </h2>
                    <h1>
                SDR
                    </h1>
                    <p>
                      yeni koleksiyonumuzla ile stilinize parıltı katın.
                       Sizi, benzersiz görkem ve zarafetle tanıştırmak için sabırsızlanıyoruz!
 </p>
                    <div>
                      <a href="">Shop Now</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                                <img src="~/images/slider-image.png" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail_box">
                    <h2>
                      <span> New Collection</span>
                      <hr>
                    </h2>
                    <h1>
                    SDR
                    </h1>
                    <p>
                      yeni koleksiyonumuzla ile stilinize parıltı katın.
                      Sizi, benzersiz görkem ve zarafetle tanıştırmak için sabırsızlanıyoruz!
 </p>
                    <div>
                      <a href="">Shop Now</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                                <img src="~/images/slid.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  
  </div>

 

  <div class="item_section layout_padding2">
    <div class="container">
      <div class="item_container">
        <div class="box">
          <div class="price">
            <h6>
              Best PRICE
            </h6>
          </div>
          <div class="img-box">
                    <img src="~/images/slider-image.png" alt="">
          </div>
          <div class="name">
            <h5>
              Bracelet
            </h5>
          </div>
        </div>
        <div class="box">
          <div class="price">
            <h6>
              Best PRICE
            </h6>
          </div>
          <div class="img-box">
                    <img src="~/images/tektas.png" alt="">
          </div>
          <div class="name">
            <h5>
              Ring
            </h5>
          </div>
        </div>
        <div class="box">
          <div class="price">
            <h6>
              Best PRICE
            </h6>
          </div>
          <div class="img-box">
                    <img src="~/images/kupe2.png" alt="">
          </div>
          <div class="name">
            <h5>
              Earings
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>



  <section class="about_section layout_padding2-top layout_padding-bottom">
    <div class="design-box">
        <img src="~/images/design-2.png" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About SDR Shop
              </h2>
            </div>
            <p>
              Işıltının Adresi: SDR Mücevherleri
             SDR Mücevherleri, eşsiz tasarımları ve zarafetiyle göz kamaştıran bir mücevherat deneyimi sunuyor. İnce işçiliği, kaliteli taşları ve özgün tasarımlarıyla her parça, benzersiz bir öyküyü anlatıyor.
              Mücevher dünyasının önde gelen markalarının ve yerel tasarımcıların eserlerini bir araya getiren SDR Mücevherleri, her zevke ve her tarza hitap ediyor. Sade ve modern çizgilerden, klasik ve zarif detaylara kadar geniş bir ürün yelpazesiyle müşterilerimize sonsuz seçenekler sunuyoruz.
            SDR Mücevherleri sadece bir alışveriş noktası değil, aynı zamanda müşterilerimizin özel anlarında yanlarında olan bir dosttur. Sevgililer günü, nişan, düğün gibi unutulmaz anlarınıza eşlik edecek parçaları bulmanıza yardımcı olmak için uzman ekibimiz her zaman hizmetinizde
            Mağazamızda sunduğumuz ürünlerin kalitesi ve güvenilirliği konusunda tam bir şeffaflık sağlıyoruz. Her bir mücevher, en yüksek kalite standartlarına uygun olarak seçilen malzemelerle özenle işlenmiştir.
             Siz de SDR Mücevherleri'nde, ömür boyu taşıyacağınız anlamlı ve değerli bir parça bulmak için bizi ziyaret edin. Işıltılı dünyamızda sizleri ağırlamaktan mutluluk duyacağız.
            </p>
            <div>
            
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
                    <img src="~/images/vanCleef.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

 

  <section class="price_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our SDR Price
        </h2>
      </div>
      <div class="price_container">
        <div class="box">
          <div class="name">
            <h6>
              Diamond Ring
            </h6>
          </div>
          <div class="img-box">
                    <img src="~/images/tektas.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              $<span>1000.00</span>
            </h5>

          </div>
        </div>
        <div class="box">
          <div class="name">
            <h6>
              Diamond Ring
            </h6>
          </div>
          <div class="img-box">
                    <img src="~/images/tektas2.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              $<span>1000.00</span>
            </h5>
           
          </div>
        </div>
        <div class="box">
          <div class="name">
            <h6>
              Diamond Ring
            </h6>
          </div>
          <div class="img-box">
                    <img src="~/images/tektas3.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              $<span>1000.00</span>
            </h5>
           
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <a href="" class="price_btn">
          See More
        </a>
      </div>
    </div>
  </section>

 
  <section class="ring_section layout_padding">
    <div class="design-box">
        <img src="~/images/design-1.png" alt="">
    </div>
    <div class="container">
      <div class="ring_container layout_padding2">
        <div class="row">
          <div class="col-md-5">
            <div class="detail-box">
              <h4>
                special
              </h4>
              <h2>
                Wedding Ring
              </h2>
              <a href="">
                Buy Now
              </a>
            </div>
          </div>
          <div class="col-md-7">
            <div class="img-box">
                        <img src="~/images/ring-img.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

 

  <section class="client_section">
    <div class="container">
      <div class="heading_container">
        <h2>
          Testimonial
        </h2>
      </div>
      <h4 class="secondary_heading">
        What is says our customer
      </h4>
        @foreach (var item in Model)
            {
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="client_container">
                            <div class="client-id">
                              
                                <div class="name">
                                    <h5>
                                        @item.Name
                                    </h5>

                                </div>
                            </div>
                            <div class="detail-box">
                                <p>
                                   @item.Message  </div>
                        </div>
                    </div>


                </div>
           
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
        }
    </div>
  </section>

 

  <section class="contact_section layout_padding">
    <div class="design-box">
        <img src="~/images/design-2.png" alt="">
    </div>
    <div class="container ">
      <div class="">
        <h2 class="">
          Contact Us
        </h2>
      </div>

    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <form action="">
            <div>
              <input type="text" placeholder="Name" />
            </div>
            <div>
              <input type="email" placeholder="Email" />
            </div>
            <div>
              <input type="text" placeholder="Phone" />
            </div>
            <div>
              <input type="text" class="message-box" placeholder="Message" />
            </div>
            <div class="d-flex ">
              <button>
                SEND
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <div class="map_container">
            <div class="map-responsive">
              <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France" width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>